::-webkit-scrollbar {
    width: 12px;
    position: absolute;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background-color: #888;
}

